<!DOCTYPE html>
<html lang="en">
<!-- head -->
    <%-  include('partials/head', {page: articles.title}) %> 
<body>
    <%- include('./partials/new-navbar', {user: user}) %>
    <hr>
    <section class="heroBanner"> 
        <div class="container"> 
            <div class="herotitle">Stay Curious.</div>
            <div class="subtitle">Discover stories, thinking, and expertise from writers on any topic.</div>
            <div class="btn btn-regualar"><a href="/<%= articles[Math.floor(Math.random() * articles.length)]._id%>">Start Reading</a></div> 
        </div>
    </section>
    <hr>

  
     
    <section>
        <div class="container">
            <h2 class="title">All Articles</h2>
        </div>
    </section>

    <main class="container">
        <div>
            <% articles.forEach((element, idx) => { %>
                <a href="/<%= element._id %> "><%=element.title %> </a>
                <div>
                    <%= element.text %> 
                </div>
            <% });%>
            
        </div>
    </main>
    
</body>
</html>