<!DOCTYPE html>
<html lang="en">
<!-- head -->
    <%-  include('partials/head', {page: articles.title}) %> 
<body>
    <%- include('partials/navbar') %>
    <hr>
    <section class="heroBanner"> 
        <div class="container"> 
         <div class="herotitle">Stay Curious.</div>
         <div class="subtitle">Discover stories, thinking, and expertise from writers on any topic.</div>
         <div class="action"><a href="/show" class="btn btn-regular">Start Reading</a></div>
        </div>
    </section>
    <hr>
     

    <section>
        <div class="container">
            <h2 class="title">All Articles</h2>
        </div>
    </section>

    <main class="container">
        <div>
            <% for( let i = 0; i < articles.length; i++){ %>
                <% const firstArticle = articles[i] %>
                <a href="/<%= firstArticle._id %> "><%=firstArticle.title %> </a>
                <div>
                    <%= firstArticle.text %> 
                </div>
                <% }; %> 
        </div>
    </main>
    
</body>
</html>