<!DOCTYPE html>
<html lang="en">
<!-- head -->
    <%-  include('partials/head', {page: articles.title}) %> 
<body>
    <%- include('./partials/new-navbar', {user: user}) %>
    <hr>
    <section class="heroBanner"> 
        <div class="container"> 
            <div class="herotitle">Stay Curious.</div>
            <div class="subtitle">Discover stories, thinking, and expertise from writers on any topic.</div>
            <div class="btn btn-regualar"><a href="/<%= articles[Math.floor(Math.random() * articles.length)]._id%>">Start Reading</a></div> 
        </div>
    </section>
    <hr>

  
   <% const random = (min, max) => {return Math.floor(Math.random() * (max - min)) + min};%>  
    
    <section class="container">
        <div class="">

            <h2 class="title">All Articles</h2>
        </div>
        <div class="postGrids three-col">
            <% articles.forEach((element, idx) => {  %> 
                
            <div class="grid">
                <div class="count"><%= idx +1 %></div>
                <div class="postItem">
                    <div class="authorMeta">
                        <img src="<%= element.image%>" alt="Author Image" class="authorImage">
                        <span class="authorName"><%= element.author %> </span>
                    </div>

                    <div class="postTitle">
                        <a href="<%= element._id %> "><%=element.title %> </a>
                    </div>
                    <div class="postMeta"><span class="date"><%= (new Date(element.publishDate)).toLocaleDateString('en-US') %> </span>▪ <%= random(12, 20) %> min read</div>
                </div>

            </div>
            <% }); %> 
        </div>
    </section>

    <!-- <main class="container">
        <div>
            <% articles.forEach((element, idx) => { %>
                <a href="/<%= element._id %> "><%=element.title %> </a>
                <div>
                    <%= element.text %> 
                </div>
            <% });%>
            
        </div>
    </main> -->
    
</body>
</html>