<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('partials/show-head') %>

<body>
    <%- include('partials/navbar') %>
    <main class="container mainContent">

        <section class="contentArea">
            <div class="postHeader"> 
                <div class="postMeta"> 
                    <div class="authorBox">
                        <div class="authorImage"><img src="<%=articles.image%>" alt=""></div>
                        <div class="ahuthorData"><small>Author: <%=articles.author %> </small> <br>
                            <!-- <small>date: <%= articles.publishDate.toLocaleDateString('en-US') %> </small> -->
                            <small>Date: <%= articles.publishDate %> </small>    
                        </div>
                    </div>
                    <!-- <div class="socialShare"> 
                        <ul class="socialShareList">
                            <li><a href="">FB</a></li>
                            <li><a href="">TW</a></li>
                            <li><a href="">IN</a></li>
                            <li><a href="">Link</a></li>
                        </ul>
                    </div> -->
                </div>
                <article>
                
                    <h2 class="title"><%=articles.title %> </h2>
                    <div class="postContent"> 
                     <div class="featuredImage"> 
                         <img src="<%=articles.image%>" style="max-width: 500px;">
                     </div>
                     <%= articles.text%>
                    </div>
                 </article>

        <!-- Comment Section -->

        
        <!-- Edit and Delete Section -->

            

        <h2>Comments Section</h2>
        <% reviews.forEach((element, idx) => {%>
            <div class="comments-container">
                <div class="comment-rating">
                    <h3>Rating : <%= element.rating%></h3>
                </div>
                <div class="comment-section">
                    <p>Comment : <a href="/reviews/<%= element._id%>"><%= element.content%></a></p>
                </div>
                

            </div>
        <% });%>


            <!-- Form for new comment -->
        <div>
            <h3>Write your comments here!</h3>
            <form action="/reviews/<%= articles._id%>" method="POST">
                <div>
                  <label for="rating">Comment Rating</label>
                  <input type="number" placeholder="0-5" name="rating" id="rating"/>
                </div>
      
                <div>
                  <label for="content">Comment Text</label>
                  <textarea name="content" id="content" cols="30" rows="10"placeholder="Write your comment here"></textarea>
                </div>
      
                <button type="submit" class="button is-info">Create Comment</button>
              </form>
        </div>
        
       
       
        <!-- Edit and Delete Section -->

        <div>
            <a href="/<%=articles._id%>/edit " >Edit Article</a>
        </div>

        <div>
            <p class="control">
                <form action="/<%=articles._id%>?_method=DELETE" method="POST">
                    <input class='button is-danger' type="submit" value="Delete Article"/>
                </form>
            </p>
            
        </div>
        </div>

        <button class="like_btn">
            <span id="icon"><i class="fa-regular fa-thumbs-up"></i></i></span>
            <span id="count">0</span> Like 
        </button>
        
    </main>

</body>
</html>