<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/show-head') %>
<body>
    <%- include('partials/navbar') %>
    <section>
        <div>
            <h2 class="title">Article: <%=articles.title %> </h2>
        </div>
    </section>
    <main class="container">
        <!-- Article post -->
        <div>
            <small>author: <%=articles.author %> </small>
        </div>
        <div>
            <small>date: <%= articles.publishDate %> </small>

            <div>
                <%= articles.text%>
            </div>
            <div>
                <img src="<%=articles.image%> " style="max-width: 500px;">
            </div>

        <!-- Comment Section -->
        
        <!-- Edit and Delete Section -->

            <div>
                <a href="/<%=articles._id%>/edit " >Edit Article</a>
            </div>

            <div>
                <p class="control">
                    <form action="/<%=articles._id%>?_method=DELETE" method="POST">
                        <input class='button is-danger' type="submit" value="Delete Article"/>
                    </form>
                </p>
            </div>
        </div>

        <button class="like_btn">
            <span id="icon"><i class="fa-regular fa-thumbs-up"></i></i></span>
            <span id="count">0</span> Like 
        </button>
        
    </main>

</body>
</html>