<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('partials/show-head') %>

<body>
    <%- include('partials/navbar') %>

    <section>
        <div>
            <h2 class="title">Article: <%=articles.title %> </h2>
        </div>
    </section>
    
    <main class="container">
        <!-- Article post -->
        <div>
            <small>author: <%=articles.author %> </small>
        </div>
        <div>
            <small>date: <%= articles.publishDate %> </small>

            <div>
                <%= articles.text%>
            </div>
            <div>
                <img src="<%=articles.image%> " style="max-width: 500px;">
            </div>

        <!-- Comment Section -->

        
        <!-- Edit and Delete Section -->

            

        <h2>Comments Section</h2>
        <% reviews.forEach((element, idx) => {%>
            <div class="comments-container">
                <div class="comment-rating">
                    <h3>Rating : <%= element.rating%></h3>
                </div>
                <div class="comment-section">
                    <p>Comment : <a href="/reviews/<%= element._id%>"><%= element.content%></a></p>
                </div>
                

            </div>
        <% });%>


            <!-- Form for new comment -->
        <div>
            <h3>Write your comments here!</h3>
            <form action="/reviews/<%= articles._id%>" method="POST">
                <div>
                  <label for="rating">Comment Rating</label>
                  <input type="number" placeholder="0-5" name="rating" id="rating"/>
                </div>
      
                <div>
                  <label for="content">Comment Text</label>
                  <textarea name="content" id="content" cols="30" rows="10"placeholder="Write your comment here"></textarea>
                </div>
      
                <button type="submit" class="button is-info">Create Comment</button>
              </form>
        </div>
        
       
       
        <!-- Edit and Delete Section -->

        <div>
            <a href="/<%=articles._id%>/edit " >Edit Article</a>
        </div>

        <div>
            <p class="control">
                <form action="/<%=articles._id%>?_method=DELETE" method="POST">
                    <input class='button is-danger' type="submit" value="Delete Article"/>
                </form>
            </p>
            
        </div>
        </div>

        <button class="like_btn">
            <span id="icon"><i class="fa-regular fa-thumbs-up"></i></i></span>
            <span id="count">0</span> Like 
        </button>
        
    </main>

</body>
</html>