<!DOCTYPE html>
<html lang="en">

    <%- include('partials/show-head') %>

<body>


    <%- include('./partials/new-navbar', {user: user, username: username, articles: articles}) %>

    <main class="container mainContent">

        <section class="contentArea">
            <div class="postHeader"> 
                <div class="postMeta"> 
                    <div class="authorBox">
                        <div class="authorImage"><img src="<%=articles.image%>" alt=""></div>
                        <div class="ahuthorData"><small>Author: <%=articles.author %> </small> <br>
                            <!-- <small>date: <%= articles.publishDate.toLocaleDateString('en-US') %> </small> -->
                            <small>Date: <%= articles.publishDate %> </small>    
                        </div>
                    </div>
                    <div class="socialShare"> 
                        <ul class="socialShareList">
                            <li><a href="">FB</a></li>
                            <li><a href="">TW</a></li>
                            <li><a href="">IN</a></li>
                            <li><a href="">Link</a></li>
                        </ul>
                    </div>
                </div>
                <article>
                
                    <h2 class="title"><%=articles.title %> </h2>
                    <div class="postContent"> 
                     <div class="featuredImage"> 
                         <img src="<%=articles.image%>" style="max-width: 500px;">
                     </div>
                     <div class="articles"><%= articles.text%>
                    </div>
                 </article>


        <!-- ! New Comment Section Area -->
        <%- include('./partials/commentsection') %>
        <% console.log(user)%>
        <%//console.log( articles.user)%>
        <%console.log(session.currentUser)%>

        <%if(typeof user !== 'undefined' && articles.user.toString() == user.id) { %>
            <%- include('./partials/editdelete') %>
        <% }%>

        
    </main>

</body>
</html>