<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('../partials/head') %> 

<body>
    <%- include('../partials/navbar') %>

    <% reviews%>
    <div class="comment-rating">
        <h2>Rating: <%=reviews.rating %> </h2>
    </div>


    <div class="comment-content">
        <h2>Comment:</h2>
        <p>Comment: <%=reviews.content %> </p>
    </div>

    <div class="delete-review-container">
            <form action="/reviews/<%=reviews._id%>?_method=DELETE" method="POST">
                <input class='button is-danger' type="submit" value="Delete Review"/>
            </form>
        
    </div>


    
    
</body>
</html>